[submodule "ghidra-dark"]
	path = ghidra-dark
	url = https://github.com/zackelia/ghidra-dark
[submodule "xbox/ghidra-xbe"]
	path = xbox/ghidra-xbe
	url = https://github.com/mborgerson/ghidra-xbe
[submodule "ps2/ghidra-emotionengine"]
	path = ps2/ghidra-emotionengine
	url = https://github.com/beardypig/ghidra-emotionengine
[submodule "ps2/sndata-converter"]
	path = ps2/sndata-converter
	url = https://github.com/Longestboi/sndata-converter
